<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nao sei ainda</title>
</head>
<body>
    <h1>Pagina home</h1>
    <h3>CRUD com NodeJs</h3>
    <nav>
        <li><a href="/cadastro">Cadastro</a></li>
        <li><a href="/cadUser">Usuarios Cadastrados</a></li>
    </nav>
</body>
</html>